In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

- Объект класса Series

In [3]:
# Series на базе списка

In [4]:
# создание на базе списка
lst_0 = [10,20,30,40]

s0 = pd.Series(lst_0)
s0

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
# создание на базе словаря
d0 = {'a':100, 5:20, 0:500}

s1 = pd.Series(d0)
s1

a    100
5     20
0    500
dtype: int64

In [6]:
# явные индексы
s1[0]

500

In [7]:
s1['a']

100

In [12]:
# неявные индексы
# атрибут индексатор для НЕявных индексов
s1.iloc[0]

100

In [14]:
s1.shape

(3,)

In [15]:
s1.size

3

In [16]:
s1.values

array([100,  20, 500], dtype=int64)

In [17]:
s1.index

Index(['a', 5, 0], dtype='object')

In [19]:
s1['b'] = 1000
s1

a     100
5      20
0     500
b    1000
dtype: int64

In [21]:
# данные по населению городов Якутии
pop_dict = {
    "Yakutsk": 318768, 
    "Neryungri": 57009,
    "viliuysk": 11095
}

pop_s = pd.Series(pop_dict)
pop_s

Yakutsk      318768
Neryungri     57009
viliuysk      11095
dtype: int64

In [23]:
# 1. вывести население выбранного города
# 2. срез от Нерюнгри до Вилюйска

In [24]:
s1['Yakutsk'] = 318768
s1

a             100
5              20
0             500
b            1000
Yakutsk    318768
dtype: int64

In [25]:
# 1
pop_s["Neryungri"]

57009

In [26]:
# 2
pop_s["Neryungri":]

Neryungri    57009
viliuysk     11095
dtype: int64

In [3]:
d1 = {
    "col 1": {"row 1": 100, "row 2": 200},
    "col 2": {"row 2": 300, "row 3": 400}
}

df0 = pd.DataFrame(d1)
df0

       col 1  col 2
row 1  100.0    NaN
row 2  200.0  300.0
row 3    NaN  400.0

In [4]:
data = pd.read_csv("data/president_heights.csv")
data.head(10)

   order                    name  height(cm)
0      1       George Washington         189
1      2              John Adams         170
2      3        Thomas Jefferson         189
3      4           James Madison         163
4      5            James Monroe         183
5      6       John Quincy Adams         171
6      7          Andrew Jackson         185
7      8        Martin Van Buren         168
8      9  William Henry Harrison         173
9     10              John Tyler         183

In [ ]:
wft